<a href="https://colab.research.google.com/github/maoproYT/PROGCOM-A/blob/main/Clase_2_Estructuras_de_repetici%C3%B3n_final_ejercicios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Estructuras de repeticioón
permite repetir una o más acciones de acuerdo con una condición

#Estructura para - for

1. Cuando se sabe cuántas veces se repite una acción
2. Está conformado por una comndición inicial (CI) una condición fian (CF) y pasos (frecuencia de repeticion)
3. Esta estructura no se detendrá, hasta alcanzar CF-1

Estrcutura general del for

```
for (variable) in range(CI,CF+1,paso):
  Se repite (CF+1-CI)/paso veces una acción
```
Estructura resumida del for
```
for (variable) in range(cantidad):
  Se repite cantidad de veces una acción
```
Estructura for como iteración

1. El para (for) itera tantas veces, como  elementos tenga la lista
2. La variable toma el valor de cada elemento de la lista por iteración
```
Lista=[1,2,3,4,5]
for (variable) in Lista:
  Se repite len(lista)
```

In [ ]:
print("la tabla de un numero")
n = int(input("digita una variable"))
for i in range(1,11,1):
    print(f"{n} * {i} = {n*i}")

la tabla de un numero
digita una variable10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [ ]:
print("la tabla del 1 al 10")
n = int(input("digita una variable"))
for elefante in range(1,11,2):
    print(f"{n} * {elefante} = {n*elefante}")

la tabla del 1 al 10
digita una variable10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [ ]:
print("tabla de multiplicar\n")
for cantidad in range(1,11):
  print(f"tabla del {cantidad}")
  for numero in range(1,11):
    print(f"{cantidad} * {numero} = {cantidad*numero}")
  print("")

tabla de multiplicar

tabla del 1
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

tabla del 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

tabla del 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

tabla del 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

tabla del 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

tabla del 6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

tabla del 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

tabla del 8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

tabla del 9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

tabla del 10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [ ]:
print(f"la tabla del {n}")
n = int(input("digita una variable"))
for elefante in range(10):
  print("")
  for cantidad in range(1,11,1):
    print(f"{elefante+1} * {cantidad} = {cantidad*(elefante+1)}")

la tabla del 10
digita una variable10

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [ ]:
print(f"la tabla del {n}")
n = int(input("digita una variable"))
for elefante in range(-2,22,2):
    print(f"{n} * {elefante} = {n*elefante}")

la tabla del 10
digita una variable10
10 * -2 = -20
10 * 0 = 0
10 * 2 = 20
10 * 4 = 40
10 * 6 = 60
10 * 8 = 80
10 * 10 = 100
10 * 12 = 120
10 * 14 = 140
10 * 16 = 160
10 * 18 = 180
10 * 20 = 200

In [1]:
n= 7
print(f"tabla del {n}")
for holitas in range(1,11*n,n):
  print(f"{n} x {int(holitas/n)} = {int(holitas)}")

tabla del 7
7 x 0 = 1
7 x 1 = 8
7 x 2 = 15
7 x 3 = 22
7 x 4 = 29
7 x 5 = 36
7 x 6 = 43
7 x 7 = 50
7 x 8 = 57
7 x 9 = 64
7 x 10 = 71

In [ ]:
numeros =[1,2,3,4,5,6,7,8,9,10]
for num in numeros:
  print(f"{n} x {int(num)} = {n*int(num)}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
numeros2=list(range(1,11))

for num in numeros2:
  print(f"{n} x {int(num)} = {n*int(num)}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

##Listas
1. Es un tipo de datos
2. Todos los elementos de una lista, **deben** estar separados por comas
3. Forma  canónica para declarar una lista


```
(variable)=[]
```
ejemplo:
flores=["amapola","tulipan","lengua"]
print(flores)

In [ ]:
dahlia= 3 #variable de tipo numérica, int
rosa= "cinco"#variable de tipo alfanumérico, str
flores=["amapola","tulipan","lengua de suegra", dahlia]

4. Maual.

```
Lista2=[dato1,dato2,dato3...datoN]
```
5. Son siempre finitas
6. Son indexadas


```
Lista2=[dato1,dato2,dato3...datoN]
```

dato1 está en el index 0
dato2 está bucado en el index 1

7. Estructuras **para** para la creación de listas
##Crea una lista de 5 elementos

In [ ]:
flores = []
for loquesea in range(5):
  flores= (input("ingresa el nombre de una flor"))

ingresa el nombre de una flormauro
ingresa el nombre de una florana
ingresa el nombre de una flor
ingresa el nombre de una flormaria
ingresa el nombre de una florsofia

In [ ]:
flores.index("mauro")

In [ ]:
flores[len(flores)-1]

In [ ]:
len(flores)

4

In [ ]:
flores

'sofia'

In [ ]:
Va

[1, 2, 3, 4, 5]

#EJERCICIO 1

In [9]:
numero = []
for i in range(1,11):
  numero.append(i)
print(numero)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

#EJERCICIO 2

In [11]:

numero_inicial = 0
for variable_inicial in range(101):
  numero_inicial = numero_inicial + variable_inicial
print(f"el valor de la suma de todos los números del 1 al 100 es: {numero_inicial}")

el valor de la suma de todos los números del 1 al 100 es: 5050

In [13]:
a = []
numero_inicial = 0
for variable_inicial in range(101):
  numero_inicial = numero_inicial + variable_inicial
a.append(numero_inicial)
print(a)

[5050]

#EJERCICIO3:

In [ ]:

for variable in range(3,31,3):
  print(variable)

3
6
9
12
15
18
21
24
27
30

In [ ]:
lista = []
for variable in range(3,31,3):
  lista.append(variable)
print(lista)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

#Ejercicio 4

In [14]:
print("multiplicar")
a =int(input("digita la tabla del numero que quieres"))
for variable in range(1,11,1):
  print(f"{a} * {variable} = {variable*a}")

multiplicar
digita la tabla del numero que quieres5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [15]:
print("multiplicar")
lista = []
a =int(input("digita la tabla del numero que quieres"))
for variable in range(1,11,1):

  multiplicar = variable*a
  lista.append(multiplicar)
print(lista)

multiplicar
digita la tabla del numero que quieres9
[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]

#Ejercicio5

In [33]:
lista = []
print("el promedio")
for cantidad in range(5):
  numeros = int(input("digita un numero"))
  lista.append(numeros)
  prom = sum(lista)/len(lista)
print(f" la lista es {lista}. Su promedio por otra parte es {int(prom)}")

el promedio
digita un numero1
digita un numero1
digita un numero1
digita un numero1
digita un numero1
 la lista es [1, 1, 1, 1, 1]. Su promedio por otra parte es 1

In [34]:

print("el promedio")
for cantidad in range(5):
  numeros = int(input("digita un numero"))
  prom = sum(lista)/len(lista)
print(f"Su promedio es {int(prom)}")

el promedio
digita un numero1
digita un numero1
digita un numero1
digita un numero1
digita un numero1
Su promedio es 1

#EJERCICIO 6

In [14]:
lista= []
print("tabla que cuenta los numeros enmedio de otros")
numero_final= int(input("digita un numero mayor a 1"))
for cantidad in range(2,numero_final):
  lista.append(cantidad)
print(lista)

tabla que cuenta los numeros enmedio de otros
digita un numero mayor a 1100
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [25]:
print("tabla que cuenta los numeros enmedio de otros")
numero_final= int(input("digita un numero mayor a 1"))
for cantidad in range(2,numero_final):
  print(cantidad)

tabla que cuenta los numeros enmedio de otros
digita un numero mayor a 110
2
3
4
5
6
7
8
9

#EJERCICIO7

In [27]:
apellido_tuyo = input("Digita tu apellido: ")
contraseña_valida = apellido_tuyo + str(len(apellido_tuyo))

while True:
    contraseña = input("Ingresa la contraseña: ")
    if contraseña == contraseña_valida:
        print("¡Contraseña correcta!")
        break
    else:
        print("Contraseña incorrecta, intenta de nuevo.")

Digita tu apellido: Mauro
Ingresa la contraseña: Mauro5
¡Contraseña correcta!

In [29]:
lista= []
apellido_tuyo = input("Digita tu apellido: ")
contraseña_valida = apellido_tuyo + str(len(apellido_tuyo))

while True:
    contraseña = input("Ingresa la contraseña: ")
    if contraseña == contraseña_valida:
        lista.append(contraseña_valida)
        print(lista)
        break
    else:
        print("Contraseña incorrecta, intenta de nuevo.")

Digita tu apellido: mauro
Ingresa la contraseña: mauro5
¡Contraseña correcta!
['mauro5']

#Ejercicio8

In [38]:
a = 0
b = 1
n = int(input("¿Cuántos números de la serie de Fibonacci quieres ver?: "))
for i in range(n):
    print(a, end= " ")
    a, b = b, a + b

¿Cuántos números de la serie de Fibonacci quieres ver?: 10
0 1 1 2 3 5 8 13 21 34

In [35]:
lista = []
a = 0
b = 1
n = int(input("¿Cuántos números de la serie de Fibonacci quieres ver?: "))
for i in range(n):
  lista.append(a)
  a, b = b, a + b
print(lista)

¿Cuántos números de la serie de Fibonacci quieres ver?: 10
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

#EJERCICIO9

In [44]:
numero = int(input("Ingresa un número: "))

if numero <= 1:
    print("Obviamente no es primero")
else:
    divisores = 0
    for variable in range(1, numero + 1):
        if numero % variable == 0:
            divisores += 1

    if divisores == 2:   # solo divisible por 1 y por sí mismo
        print(numero, "es primo")
    else:
        print(f"{numero} no es primo")

Ingresa un número: 2
2 es primo

In [46]:
print("Aparecerá una lista con el número si es primo")
lista = []
numero = int(input("Ingresa un número: "))

if numero <= 1:
    print("Obviamente no es primo")
else:
    divisores = 0
    for variable in range(1, numero + 1):
        if numero % variable == 0:
            divisores += 1

    if divisores == 2:
        lista.append(numero)
        print(lista)
    else:
        print(f"{numero} no es primo")

aparecerá una lista con el numero si es primo
Ingresa un número: 3
[3, 3]

#ejercicio10

In [50]:
cantidad = int(input("¿Cuántos números vas a ingresar?: "))
positivos, negativos, ceros = 0,0,0
for varialbe in range(cantidad):
    numero = int(input(f"Ingresa el número {varialbe+1}: "))
    if numero > 0:
        positivos += 1
    elif numero < 0:
        negativos += 1
    else:
        ceros += 1

print(f"Cantidad de positivos:, {positivos}")
print(f"Cantidad de negativos:, {negativos}")
print(f"Cantidad de ceros:, {ceros}")

¿Cuántos números vas a ingresar?: 2
Ingresa el número 1: 1
Ingresa el número 2: 3
Cantidad de positivos:, 2
Cantidad de negativos:, 0
Cantidad de ceros:, 0

In [ ]:
cantidad = int(input("¿Cuántos números vas a ingresar?: "))
positivos = []
negativos = []
ceros = []

for varialbe in range(cantidad):
    numero = int(input(f"Ingresa el número {varialbe+1}: "))
    if numero > 0:
        positivos.append(numero)
    elif numero < 0:
        negativos.append(numero)
    else:
        ceros.append(numero)

print(f"Cantidad de positivos: {len(positivos)} -> {positivos}")
print(f"Cantidad de negativos: {len(negativos)} -> {negativos}")
print(f"Cantidad de ceros: {len(ceros)} -> {ceros}")