<a href="https://colab.research.google.com/github/maoproYT/PROGCOM-A/blob/main/Listas_Taller_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Crear una lista con los cuadrados de los números del 1 al 10.
Obtener una lista con los números pares del 0 al 20.
Crear una lista con el doble de cada número del 1 al 5.
De la palabra "programacion", obtener solo las vocales.
Dada la lista ["python", "java", "c++"], obtener otra lista con las palabras en mayúsculas.
Crear una lista con "par" o "impar" para los números del 1 al 10.
Generar una lista de tuplas con el número y su cuadrado del 1 al 5.
Crear una lista con todas las combinaciones de letras en ["a","b"] y números en [1,2,3].
De la lista ["sol", "estrella", "mar", "planeta"], obtener solo las palabras con más de 4 letras.
Clasificar la temperatura de una lista. Si la temperatura es menor a 26, el clima es "frío". Si está entre 26 a 29, es "templado". Si es mayor a 29, el clima es "caliente"

#Ejercicio1

In [1]:
lista = []
for numeros in range(10):
  lista.append(numeros+1)
lista2 = [numero**2 for numero in range(1, 11)]
print(lista2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#Ejercicio2

In [2]:
lista = []
for numeros in range(20):
  lista.append(numeros+1)
lista2 = [numero for numero in lista if numero % 2==0]
print(lista2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

#Ejercicio3

In [10]:
lista = []
for numeros in range(5):
  lista.append(numeros+1)
lista2 = [numero*2 for numero in lista]
print(lista2)

[2, 4, 6, 8, 10]

#Ejercicio4

In [4]:
nombres = ["programación"]
gramática = [letra for letra in nombres[0] if letra in "aeiouáéíóú"]
print(gramática)

['o', 'a', 'a', 'i', 'ó']

#Ejercicio5

In [5]:
nombres = ["Python", "Java", "c++"]
lista_nueva=[mayúscula.upper() for mayúscula in nombres]
print(lista_nueva)

['PYTHON', 'JAVA', 'C++']

#Ejercicio6

In [6]:
lista_inicial = []
for número in range(10):
    lista_inicial.append(número + 1)
lista_de_números = [("par", variable) if variable % 2 == 0 else ("impar", variable) for variable in lista_inicial]
print(lista_de_números)

[('impar', 1), ('par', 2), ('impar', 3), ('par', 4), ('impar', 5), ('par', 6), ('impar', 7), ('par', 8), ('impar', 9), ('par', 10)]

#EJERCICIO7

In [12]:
lista = []
for numeros in range(5):
  lista.append(numeros+1)
lista = [(numero, numero**2) for numero in range(1, 6)]
print(lista)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

#Ejercicio8

In [27]:
letras = []
numeros = []
for letra in ["a", "b"]:
    letras.append(letra)
for numerito in [1, 2, 3]:
    numeros.append(numerito)
combinaciones = [(letra, numero) for letra in letras for numero in numeros]
Otro_Caso = [(numero, letra) for numero in numeros for letra in letras]
print(combinaciones, Otro_Caso)

[('a', 1), ('a', 2), ('a', 3), ('b', 1), ('b', 2), ('b', 3)] [(1, 'a'), (1, 'b'), (2, 'a'), (2, 'b'), (3, 'a'), (3, 'b')]

#Ejercicio9

In [30]:
palabras = []
for animales in ["sol", "estrella", "mar", "planeta"]:
    palabras.append(animales)
palabras_filtradas = [palabra for palabra in palabras if len(palabra) > 4]
print(palabras_filtradas)

['estrella', 'planeta']

#Ejercicio 10

In [ ]:
list_inicial= []
for puntos in range(10):
  b = float(input(f"Digite la temperatura {puntos+1}: "))
  list_inicial.append(b)
a2 = [(temp, "caliente") if temp > 29 else (temp, "templado") if temp > 23 and temp <29 else (temp, "frio") for temp in list_inicial]
print(a2)

#Ahora haré lo mismo pero para Java